.list__inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
    gap: 50px;
}

.input__item {
    display: flex;
    flex-direction: row;
    gap: 15px;
}