.block_profiles {
    margin-top: 46px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

}

.allProfile {
    display: flex;
    flex-direction: row;
    gap: 70px;
    flex-wrap: wrap;
    justify-content: center;
}

.profile {
    padding: 30px;
    border: 1px solid #0000004a;
    border-radius: 5px;
    cursor: pointer;
}