* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1600px;
}

input {
  outline: none;
}

/*временно header*/
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.link {
  color: black;
  font-weight: 600;
}

.link:hover {
  color: rgba(0, 0, 0, 0.42);
}
/*временно header*/


/*slider start*/
#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

/*slider start*/
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  height: 60% !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nextButton {
  border: none;
  background: #deeee4;
  border-radius: 50%;
  padding: 6px;
  transition: all 0.1s ease-in-out;
}
.nextButton:hover {
  background: #9cd9b3;
}

.lineSlider {
  width: 75%;
  border-bottom: 1px solid #c7c9a5;
  margin-left: 110px;
}
/*slider end*/