* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1600px;
}

input {
  outline: none;
}

/*временно header*/
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.link {
  color: black;
  font-weight: 600;
}

.link:hover {
  color: rgba(0, 0, 0, 0.42);
}
/*временно header*/
